<%= render "layouts/nav_bar" %>
<h1 class="forum-header"><%= @reply.title %></h1>
<h2><%= @reply.name %></h2>
<p><%= @reply.content %></p>

<% if @user && @reply.name == @user.name %>
  <p><%= link_to "Edit", edit_post_reply_path(@post, @reply) %></p>
  <p><%= link_to "Delete post", post_reply_path(@post, @reply),
                          :data => {:confirm => "Are you sure?",
                                         :method => "delete"} %></p>
<% end %>
